# Rathod Aarti [216270307039]

In [1]:
# pra-7 Write a Pandas program to implement following operation
# 7.1 to create a dataframe from a dictionary and display it
# Name: Rathod Aarti
# Enrollment: 216270307039
# Sem: 5th
import pandas as pd
data = {
    'Name': ['Aarti', 'Nensi', 'Manashvi'],
    'Age': [21, 17, 17]
}
df = pd.DataFrame(data)
print(df)

       Name  Age
0     Aarti   21
1     Nensi   17
2  Manashvi   17

In [2]:
# 7.2  to sort the DataFrame first by 'name' in ascending order
# Name: Rathod Aarti
# Enrollment: 216270307039
# Sem: 5th
import pandas as pd
data = {
    'Name': ['Aarti', 'Nensi', 'Manashvi'],
    'Age': [21, 17, 17]
}
df = pd.DataFrame(data)
df_sort = df.sort_values(by='Name', ascending=True)
print(df_sort)

       Name  Age
0     Aarti   21
2  Manashvi   17
1     Nensi   17

In [3]:
# 7.3 to delete the one specific column from the DataFrame
# Name: Rathod Aarti
# Enrollment: 216270307039
# Sem: 5th
import pandas as pd

data = {
    'Name': ['Aarti', 'Nensi', 'Manashvi'],
    'Age': [21, 17, 17]
}

df = pd.DataFrame(data)
df = df.drop(columns=['Age'])
print(df)

       Name
0     Aarti
1     Nensi
2  Manashvi

In [4]:
# 7.4  to write a DataFrame to CSV file using tab separator.
# Name: Rathod Aarti
# Enrollment: 216270307039
# Sem: 5th
import pandas as pd

data = {
    "Name": ["Aarti", "Nensi", "Manashvi"],
    "Age": [21, 17, 17]
}
df = pd.DataFrame(data)
df.to_csv('data.csv', sep='\t', index=False)
print("DataFrame has been written Successfully.")

DataFrame has been written Successfully.